<ul>
    <% flowers.flowers.forEach(function(flower){ %>
        <li><%= flower.name %> - <%= flower.color %></li>
        <img src=<%= flower.picture %> class="img-fluid img-thumbnail rounded" alt="Responsive image">
    <% }); %>
</ul>

<!-- "name":"rose",
"color":"red",
"picture":"../public/images/rose.png",
"price":"15.90",
"id":1 -->